<!-- <ng-container *ngIf=" getUser()|async as user">
    <ng-container *ngIf="(user.user !== null); else desconect">
        <section>
            <button color="warn"  (click)="desconectarGoogle()">Desconectar</button>
        </section>
    </ng-container>
</ng-container>

<ng-template #desconect>
    <button  (click)="loginGoogle()">conect</button>
</ng-template>
  -->

<div>
    <div>
        <input placeholder="Enter user">
    </div>
    <div>
        <input placeholder="Enter passaword">
    </div>
    <button (click)="login()">Login</button>
</div>