<!-- <ng-container *ngIf=" getUser()|async as user">
    <ng-container *ngIf="(user.user !== null); else desconect">
        <section>
            <button color="warn"  (click)="desconectarGoogle()">Desconectar</button>
        </section>
    </ng-container>
</ng-container>

<ng-template #desconect>
    <button  (click)="loginGoogle()">conect</button>   
</ng-template>
 
<br> -->

<!-- <h1>{{conectado}}</h1> -->

<!-- 
<a  (click)="loginGoogle()" class="buttonA">
    <img class="buttonImg" src="../../../assets/icons/google.png" alt="">
    conect
</a>   -->
<br><br>

<h2>Entre com sua conta do google!</h2>

<div class="btBox"  (click)="loginGoogle()">
    <img src="../../../assets/icons/google.png" class="btImg" alt="">
    <div class="btNome">entre com google</div>
</div>