
<ng-container>
    <mat-toolbar id="barra">
        <!-- <img id="logo" src="../../../assets/icons/64_eng_control.png" alt="">     -->
        
      



        <span class="corAzul">Eng Control</span>
        <span class="example-spacer"></span>
        <ng-container *ngIf="getUser() |async as user; else load">
            <ng-container *ngIf="user.user != null; else desc">
                <img class="avatar" [src]="user.user.photoURL" alt="">    
            </ng-container>
        </ng-container>
        <ng-template #load>
          <mat-spinner></mat-spinner>
        </ng-template>
        <ng-template #desc>
          <mat-icon class="matIconbar" aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>
        </ng-template>
    </mat-toolbar>
    


</ng-container>

