<div >
<ng-container >
    <mat-toolbar id="barra">
        <button [matMenuTriggerFor]="menu" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/deshboard"><mat-icon>home</mat-icon>Deshboard
          </a>
          <a mat-menu-item routerLink="/funcionarios-crud"><mat-icon>settings_accessibility</mat-icon>Funcionarios
          </a>
          <a mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Sair
          </a>
        </mat-menu>


        <span class="corAzul">Eng Control</span>
        <span class="example-spacer"></span>
        <ng-container *ngIf="getUser() |async as user; else load">
            <ng-container *ngIf="user.user != null; else desc">
                <img class="avatar" [src]="user.user.photoURL" alt="">    
            </ng-container>
        </ng-container>
        <ng-template #load>
          <mat-spinner></mat-spinner>
        </ng-template>
        <ng-template #desc>
          <mat-icon class="matIconbar" aria-hidden="false" aria-label="Example home icon" fontIcon="lock"></mat-icon>
        </ng-template>
    </mat-toolbar>
    
</ng-container>
</div>

